@import "../fonts";

.cardContainer {
  display: flex;
  flex-flow: wrap;
}

.inputCard {
  min-width: 400px;
}

.tickerInputCard {
  @extend .inputCard;
  margin-right: 20px;
}

.tickerInputField {
  width: 8em;
}

.amountInputCard {
  @extend .inputCard;
}

.amountLabel {
  padding-top: 5px;
}
