@import "../colors";
@import "../fonts";

.header {
  padding: 24px;
  background-color: $color-primary-dark;
}

.title {
  color: $color-text-light;
  font-size: $font-size-banner;
  display: inline;
  vertical-align: middle;
}

.button {
  float: right;
  margin: 0 20px;
  font-weight: 700;
  color: $color-text-light;
  vertical-align: middle;
}

.button:hover {
  text-decoration: none;
  color: $color-accent-light;
}
