/**
 * Fonts
 */

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

$font-stack: "Ubuntu", "Roboto", sans-serif;

$font-size-heading: 33px;
$font-size-body: 17px;
$font-size-banner: 22px;

$font-weight-heading: 700;
